* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    image-rendering: optimizeQuality;
}
html{
    font-size: 62%;
}
@media (max-width:1223px){
    html{
        font-size: 60%;
    }
}
@media (max-width:1024px){
    html{
        font-size: 50%;
    }
}
@media (max-width:970px){
    html{
        font-size: 48%;
    }
}
@media (max-width:768px){
    html{
        font-size: 36%;
  
    }
}
@media (max-width:425px){
    html{
        font-size: 18%;
    }
}
body {
    width: 100vw;
    height: 100vh;
    background-color: #131313;
    color: white;
    overflow-x: hidden;
    font-size: 1.6rem;
}

body::-webkit-scrollbar {
    width: 13px;
}

body::-webkit-scrollbar-track {
    background-color: #141414;
}

body::-webkit-scrollbar-thumb {
    background-color: #8f8f8f;
    border-radius: 20px;
    border: 3px solid #141414;
}